$maincolor: #D478B5;

@import url(./menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: $maincolor;
  }

#wrapper1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg1.png);
    background-position: bottom;
    background-size: cover;
    #w1content {
      width: 50%;
      height: 80%;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*Title*/
      h1 {
        font-size: 4.5vmax;
        line-height: 6vmax;
        color: black;
        font-weight: 400;
      }
      /*Description*/
      h2 {
        width: 60%;
        margin-top: 3%;
        color: black;
        font-weight: 300;
      }
      /*Call to action*/
      .w1buttons {
        width: 25vmax;
        height: 4vmax;
        margin-top: 10%;
        background-color: tan;
      }
    }
    /*go up button */
    #arrowup {
      width: 3vmax;
      height: 3vmax;
      position: fixed;
      background-color: white;
      right: 2vmax;
      border-radius: 50%;
      top: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      translate: transformY(-50%);
      -webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
      img {
        width: 1.6vmax;
        height: 1.6vmax;
        transform: rotate(270deg);
      }
    }
  }
  .wrapper2{
      width: 100%;
      padding-top: 7vmax;
      padding-bottom: 7vmax;
      background-image: url(../img/bg2.png);
      background-position: center;
      background-size: cover;
      h3{
          width: 50%;
          font-size: 1.4vmax;
          font-weight: 300;
          text-align: center;
          margin:auto;
      }
      h2{
          font-size: 1.8vmax;
          font-weight: 400;
          margin: 1vmax auto;
          text-align: center;
          color: $maincolor;
      }
  }
  .wrapper3{
      width: 100%;
      height: 100vh;
      background-image: url(../img/bg3.png);
      background-position: center;
      background-size: cover;
      .w3content{
          width: 53%;
          height: 100%;
          float: right;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h1{
              font-weight: 500;
              font-size: 4.2vmax;
          }
          h2{
              margin-top: 3vmax;
              font-weight: 300;
              width: 67%;
              font-size: 1.2vmax;
          }
          .w3button{
              width: 10vmax;
              text-align: center;
              margin-top: 6vmax;
              padding: 0.5vmax;
              font-size: 1.5vmax;
              background: black;
              color: white;
          }
      }
  }

  .wrapper4 {
    width: 100%;
    height: 40vmax;
    margin-top: 7%;
     /*title */  
    h1 {
      text-align: center;
      font-size: 2vmax;
      font-weight: 400;
      color: black;
    }
    .w4container {
      width: 80%;
      height: 24vmax;
      margin: 3vmax auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .w4spacer1,
      .w4spacer2 {
        width: 3vmax;
        height: 3vmax;
        display: none;
      }
      .w4spacer1 {
        display: block;
      }
       /* Next and prev btn */  
      .w4arrow1,
      .w4arrow2 {
        width: 3vmax;
        height: 3vmax;
        background-position: center;
        background-size: cover;
        background-image: url(../img/icons/arrow.png);
        cursor: pointer;
      }
      .w4arrow1 {
        display: none;
        transform: rotate(180deg);
      }
       /*Carousel */  
      .w4section {
        width: 60vmax;
        height: 26vmax;
        overflow-x: hidden;
        .w4content {
          width: 180vmax;
          margin-top: 3%;
          display: flex;
          justify-content: space-around;
          transition: all 1s ease-in-out;
          .w4box {
            width: 20vmax;
            padding-top: 2vmax;
             /*Comment */  
            p {
              font-size: 1.1vmax;
              text-align: center;
              color: black;
            }
            /*author */ 
            h3 {
              text-align: center;
              color: $maincolor;
              margin-top: 2vmax;
              font-size: 1.4vmax;
              font-weight: 300;
            }
          }
        }
        /* Dots under carousel*/ 
        .w4dots {
          width: 5vmax;
          height: 1vmax;
          margin: 5vmax auto 0 auto;
          display: flex;
          justify-content: space-around;
          .dot {
            width: 1vmax;
            height: 1vmax;
            border-radius: 100%;
            background-color: white;
            border: 1px solid $maincolor;
          }
          #dot1 {
            background-color: $maincolor;
          }
        }
      }
    }
  }
  .wrapper5{
      width: 100%;
      height: 90vh;
      padding-top: 2vmax;
      .w5bar{
          width: 40%;
          height: 5vmax;
          margin-right: 60%;
          border-top-right-radius: 3vmax; 
          border-bottom-right-radius: 3vmax;
          background: $maincolor;
          text-align: center;
          
          h4{
            line-height: 5vmax;
            color: white;
            font-size: 2vmax;
            font-weight: 300;
          }
      }
      .w5info{
          width: 40%;
          height: 60%;
          margin-top: 8vmax;
          text-align: center;
          float: left;
          h1{
            font-weight: 400;
            font-size: 2vmax;
            margin-bottom: 6%;
        }
          .w5items{
              width: 55%;
              text-align: left;
              margin: 3vmax auto;
            h3{
              font-weight: 400;
              font-size: 1.3vmax;
              padding: 1vmax;
              i{
                  margin-right: 2%;
                  font-size: 1.5vmax;
              }
            }
          }
          .w5socials{
              width: 60%;
              height: 3vmax;
              margin: auto;
              .w5fb,.w5ig{
                  width: 42%;
                  height: 100%;
                  float: left;
                  margin-left: 5%;
                  background: lightcoral;
                  line-height: 3vmax;
                  font-size: 1.2vmax;
                  color: white;
                  cursor: pointer;
              }
              .w5fb{
                  background-color: #3b5998;
              }
              .w5ig{
                background-color: #C13584;
            }
          }
      }
      .w5form{
          width: 30%;
          margin-top: 3%;
          margin-right: 15%;
          padding-left: 3%;
          padding-right: 3%;
          padding-top: 2vmax;
          padding-bottom: 2vmax;
          border-radius: 3vmax;
          float: right;
          border: 2px solid black;
          form{
              input, textarea{
                  border: none;
                  background: white;
                  font-size: 1vmax;
                  height: 2.4vmax;
                  padding-right: 20px;
                  text-align: right;
                  color: black;
                  border-radius: 20px;
                  background-color: rgba(0, 0, 0, 0.1);
              }
              #field1{
                  width: 40%;
                  float: left;
              }
              #field2{
                width: 40%;
                margin-left: 20%;
                float: right;
            }
              #field3{
                width: 100%;
                margin-top: 2vmax;
            }
            #msg{
                margin-top: 2vmax;
                width: 100%;
                height: 10vmax;
                max-width: 100%;
                max-height: 10vmax;
                min-width: 100%;
                min-height: 10vmax;
               
            }
            button{
                padding: 0.7vmax 2vmax;
                border: none;
                background: green;
                float: right;
                font-size: 0.8vmax;
                margin-right: 5%;
                margin-top: 10%;
                cursor: pointer;
            }
          }
      }
  }
  .wrapper6{
      width: 100%;
      height: 3vmax;
      background: $maincolor;
  }